{% extends 'home.html' %}
{% load static %}
      {% block common %}
          {% include 'navbar.html' %}

<body>
          <br>
          <br>
          <form action="{% url 'showpassword' %}" method="post">
              {% csrf_token %}
          <table align="center" bgcolor="yellow" border="2" width="400" heght="500" class="rs">
              <h1 style="text-align: center">Forgot-Password</h1>
              <tr>
                  <th align="center" rowspan="2"><img src="{% static 'images/query.gif' %}"></th>
              </tr>

              <tr>
                  <th>
                      <input type="text" placeholder="Please Enter UserName" required name="p1">
                  </th>
              </tr>

              <tr><th style="text-align: center" colspan="2">
                      <button type="submit">submit</button>
                  </th>
              </tr>
          <tr>
              <th colspan="2">Your Password is={{ Error }}</th>
          </tr>
              <tr>  {% if message %}</tr>
                  <th colspan="2">{{ message }}</th>
              {% endif %}
</table>
</form>


{% endblock %}