
{% load static %}
{% block common %}
    {% include 'adminnavbar.html' %}
    <html>
    <body>
    <h1 align="center">QUERY SECTION</h1>
    <table align="center" bgcolor="#6495ed" border="3" height-="299" width="300">
        <tr><th>USERID</th><th>USERNAME</th><th>QUERY</th><th>DELETE QUERY</th></tr>
        <tr>{% for x in qu %}</tr>
            <th>{{ x.id }}</th>
            <th>{{ x.username }}</th>
            <th>{{ x.query }}</th>
            <th><a href="{% url 'deletequery' %}?no={{x.id}}">Delete</a></th>

        {% endfor %}


    </table>
    </body>
    </html>
{% endblock %}