
<style>
    .ff{
        font-family: "Arial Black";
    font-size: 30px;


    }
</style>
{% load static %}
<html>
<body>
{% block common %}
    {% include 'adminnavbar.html' %}
    <br><br><br><br><br>

<table align="center" border="2" bgcolor="#7fff00">
    <tr><th COLSPAN="13" CLASS="ff">GYM DETAILES</th></tr>
    <tr>
        <th>GYM ID</th> <th>GYM NAME</th><th>GYM LOCATION</th><th>NO OF TRAINERS</th><th>MOBILENUMBER</th>
        <th>FEES</th><th>AREA</th><th>NO OF MUMBERS</th><th>NO OF EQIPMENTS</th>
        <th>OPEN TIME</th><th>CLOSE TIME</th><th>DELETE GYM DETAILES</th>
    </tr>

    {% for x in gd%}
        <tr>
            <td>{{ x.gid }}</td>
            <td> {{ x.gymname }}</td>
            <td>{{ x.location }}</td>
            <td>{{ x.numberoftrainers }}</td>
            <td>{{ x.mnumber }}</td>
            <td>{{ x.fees }}</td>
            <td>{{ x.area }}</td>
            <td>{{ x.numberofmembers}}</td>
            <td>{{  x.numberofequipments}}</td>
            <td>{{ x.opentime }}</td>
            <td> {{ x.closetime }}</td>
            <td><a href="{% url 'deletegymdetailsadmin' %}?no={{ x.gid }}">DELETE</a></td>

        </tr>
    {% endfor %}
{% endblock %}
</table>
</body>
</html>